<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title>Adicionar Receitas</title>
</head>

<body>
    <nav class="h-menu">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="#">Listar Pedidos</a></li>
            <li><a href="recipe.html">Minhas receitas</a></li>
        </ul>
    </nav>

    <form>
        <h3>Cadastro de nova receita</h3>
        <input type="text" placeholder="Nome da receita" id="Nome da receita">
        <input type="text" placeholder="Descrição" id="Descrição">
        <input type="number" placeholder="Custo" id="Custo">
        <input type="number" placeholder="Tempo de preparo" id="Tempo de preparo">
        <a href="recipe.html">Adicionar receita nova!</a>

    </form>
</body>