<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title>Home</title>


</head>

<body>
    <nav class="h-menu">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="orderList.html">Listar Pedidos</a></li>
            <li><a href="recipe.html">Minhas receitas</a></li>
        </ul>
    </nav>

    <main>
        <div class="a">
            <div>
                Maicon
            </div>
            <div>
                02/04/2023 21:44
            </div>
            <div>
                5 pessoas
            </div>
            <div>
                Status: Em espera!
            </div>
            <div>
                <button>Confirmar</button>
                <button>Excluir</button>
            </div>
        </div>

        <div class="a">
            <div>
                Matheus
            </div>
            <div>
                01/04/2023 21:44
            </div>
            <div>
                5 pessoas
            </div>
            <div>
                Status: Em espera!
            </div>
            <div>
                <button>Confirmar</button>
                <button>Excluir</button>
            </div>
        </div>

        <div class="a">
            <div>
                Fulano tal
            </div>
            <div>
                01/04/2023 17:56
            </div>
            <div>
                14 pessoas
            </div>
            <div>
                Status: Em espera!
            </div>
            <div>
                <button>Confirmar</button>
                <button>Excluir</button>
            </div>
        </div>

        <div class="a">
            <div>
                Luiz
            </div>
            <div>
                30/03/2023 16:12
            </div>
            <div>
                14 pessoas
            </div>
            <div>
                Status: Em espera!
            </div>
            <div>
                <button>Confirmar</button>
                <button>Excluir</button>
            </div>
        </div>
        <div class="a">
            <div>
                Aramis
            </div>
            <div>
                28/03/2023 16:12
            </div>
            <div>
                22 pessoas
            </div>
            <div>
                Status: Concluido!
            </div>
        </div>
        <div class="a">
            <div>
                Aramis
            </div>
            <div>
                27/03/2023 20:50
            </div>
            <div>
                22 pessoas
            </div>
            <div>
                Status: Recusado!
            </div>
        </div>
        <div class="a">
            <div>
                Aramis
            </div>
            <div>
                25/03/2023 10:50
            </div>
            <div>
                22 pessoas
            </div>
            <div>
                Status: Concluido!
            </div>
        </div>
    </main>
</body>

</html>