<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Receitas</title>
</head>

<body>
    <nav class="h-menu">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="orderList.html">Listar Pedidos</a></li>
            <li><a href="recipe.html">Minhas receitas</a></li>
        </ul>
    </nav>

    <section class="container nowrap">
        <div class="item">
            <i class="material-icons" style="font-size:48px;color:white;">add</i>
            <div class="content">
                <a href="addrecipe.html">Adicionar receita</a>
            </div>
        </div>

        <div class="item">Pizza
            <img src="../image/pizza.jpg">
            <div class="content">
                <h3>R$ 60</h3>
                <h3>1 hora</h3>
            </div>
        </div>

        <div class="item">Macarrão
            <img src="../image/macarrao.jpg">
            <div class="content">
                <h3>R$ 40</h3>
                <h3>1,5 horas</h3>
            </div>
        </div>
    </section>


    <section class="container nowrap">
        <div class="item">Nhoque
            <img src="../image/nhoque.jpg">
            <div class="content">
                <h3>R$ 65</h3>
                <h3>1/2 horas</h3>
            </div>
        </div>

        <div class="item">Risotto
            <img src="../image/risotto.jpg">
            <div class="content">
                <h3>R$ 100</h3>
                <h3>2 horas</h3>
            </div>
        </div>

        <div class="item">Frango a passarinho
            <img src="../image/frango.jpg">
            <div class="content">
                <h3>R$ 35</h3>
                <h3>40 minutos</h3>
            </div>
        </div>
    </section>

</body>

</html>