<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Receitas</title>
</head>

<body>
    <nav class="h-menu">
        <ul>
            <li class="active"><a href="#">Perfil</a></li>
            <li><a href="#">Listar Pedidos</a></li>
            <li><a href="receitas.html">Minhas receitas</a></li>
        </ul>
        
    </nav>

    <div class="cards">
        <div class="card">
            <img src="pizza.jpg">
            <div class="content">
                <h2>Pizza</h2>
                <h3>R$ 50</h3>
                <h3>1,5 hora</h3>
                <a href="#">Editar receita</a>
            </div>
        </div>
    </div>

    <div class="cards">
        <div class="card">
            <img src="lasanha.jpg">
            <div class="content">
                <h2>Lasanha</h2>
                <h3>R$ 70</h3>
                <h3>3 horas</h3>
                <a href="#">Editar receita</a>
            </div>
        </div>
    </div>

    <div class="cards">
        <div class="card">
            <img src="macarrao.jpg">
            <div class="content">
                <h2>Mcarrão</h2>
                <h3>R$ 60</h3>
                <h3>1 hora</h3>
                <a href="#">Editar receita</a>
            </div>
        </div>
    </div>
</body>
</html>