<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="home.js"></script>
    <title>Home</title>
</head>

<header class="menu-topo">
    <nav>
        <ul>
            <li class="primeiro-item"><a href="#">Página Inicial</a></li>
            <li><a href="#">Lista de pedidos</a></li>
            <li><a href="#">Receitas</a></li>
            <li><a href="#">Adicionar receita</a></li>
        </ul>
    </nav>
</header>

<body>
    <main>

        <div class="pedido">
            <div class="numero-pedido">
                <span>Pedido #1</span>
            </div>
            <div class="informacoes-pedido">
                <div>
                    <span>John Doe</span>
                </div>
                <div>
                    <span><strong>Quantidade de Pessoas: 5</strong></span>
                </div>
                <div>
                    <span><strong>Data e Hora:</strong></span>
                    <span>2023-06-05 18:30</span>
                </div>
            </div>
            <div class="botoes-pedido">
                <button class="btn-aceitar">Aceitar</button>
                <button class="btn-recusar">Recusar</button>
            </div>
        </div>







        <div class="pedido">
            <div class="retangulo-branco">
                <div class="numero-pedido">
                    <span>Pedido #1</span>
                </div>
                <div class="informacoes-pedido">
                    <div>
                        <span>John Doe</span>
                    </div>
                    <div>
                        <span><strong>Quantidade de Pessoas: 5</strong></span>
                    </div>
                    <div>
                        <span><strong>Data e Hora:</strong></span>
                        <span>2023-06-05 18:30</span>
                    </div>
                </div>
                <div class="botoes-pedido">
                    <button class="btn-aceitar">Aceitar</button>
                    <button class="btn-recusar">Recusar</button>
                </div>
            </div>
        </div>


</body>

</html>