<!DOCTYPE html>
<html>

<head>
    <title>Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="grid-container">
        <div class="top-row">
            <input class="square" id="btnpedidos" type="button" value="Novos Pedidos"><br>
            <script src="home.js"></script>
            <input class="square" id="btnverificarpedidos" type="button" value="Verificar Pedidos"><br>
            <script src="home.js"></script>
        </div>
        <div class="bottom-row">
            <input class="square" id="btnreceitas" type="button" value="Receitas"><br>
            <script src="home.js"></script>
            <input class="square" id="btncadastrarreceitas" type="button" value="Cadastrar nova receita"><br>
            <script src="home.js"></script>
        </div>
    </div>
</body>

</html>