<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>

<header class="menu-topo">
    <nav>
        <ul>
            <li class="primeiro-item"><a href="../home/home.html">Página Inicial</a></li>
            <li><a href="../verificarPedidos/verificarPedidos.html">Verificar pedidos</a></li>
            <li><a href="../pedidos/pedidos.html">Novos pedidos</a></li>
            <li><a href="../receitas/receitas.html">Receitas</a></li>
            <li><a href="../addReceita/adicionarReceita.html">Adicionar receita</a></li>
        </ul>
    </nav>
</header>

<body>
    <div class="container">
        <div class="image">
            <img src="../../img/nhoque.jpg" alt="Imagem do prato" class="image">
        </div>
        <div class="details">
            <div class="name">Nhoque</div>
            <div class="serving">2 pessoas</div>
            <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt animi dolor
                iusto
                ratione eveniet mollitia eum, doloremque neque quos iste quod, nemo rem. Quis molestias voluptate ipsum
                aperiam adipisci!Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt animi dolor iusto
                ratione eveniet mollitia eum, doloremque neque quos iste quod, nemo rem. Quis molestias voluptate ipsum
                aperiam adipisci!Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt animi dolor iusto
                ratione eveniet mollitia eum, doloremque neque quos iste quod, nemo rem. Quis molestias voluptate ipsum
                aperiam adipisci!Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt animi dolor iusto
                ratione eveniet mollitia eum, doloremque neque quos iste quod, nemo rem. Quis molestias voluptate ipsum
                aperiam adipisci!</div>
        </div>
        <div class="price">R$ 60,99</div>

    </div>

    <div class="container">
        <div class="image">
            <img src="../../img/risotto.jpg" alt="Imagem do prato" class="image">
        </div>
        <div class="details">
            <div class="name">Risoto</div>
            <div class="serving">3 pessoas</div>
            <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt animi dolor
                iusto
                ratione eveniet mollitia eum, doloremque neque quos iste quod, nemo rem. Quis molestias voluptate ipsum
                aperiam adipisci!Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt animi dolor iusto
                ratione eveniet mollitia eum, doloremque neque quos iste quod, nemo rem. Quis molestias voluptate ipsum
                aperiam adipisci!Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt animi dolor iusto
                ratione eveniet mollitia eum, doloremque neque quos iste quod, nemo rem. Quis molestias voluptate ipsum
                aperiam adipisci!Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt animi dolor iusto
                ratione eveniet mollitia eum, doloremque neque quos iste quod, nemo rem. Quis molestias voluptate ipsum
                aperiam adipisci!</div>
        </div>
        <div class="price">R$ 70,00</div>
    </div>

    <div class="container">
        <div class="image">
            <img src="../../img/macarronada.jpeg" alt="Imagem do prato" class="image">
        </div>
        <div class="details">
            <div class="name">Macarronada</div>
            <div class="serving">5 pessoas</div>
            <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt animi dolor
                iusto
                ratione eveniet mollitia eum, doloremque neque quos iste quod, nemo rem. Quis molestias voluptate ipsum
                aperiam adipisci!Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt animi dolor iusto
                ratione eveniet mollitia eum, doloremque neque quos iste quod, nemo rem. Quis molestias voluptate ipsum
                aperiam adipisci!Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt animi dolor iusto
                ratione eveniet mollitia eum, doloremque neque quos iste quod, nemo rem. Quis molestias voluptate ipsum
                aperiam adipisci!Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt animi dolor iusto
                ratione eveniet mollitia eum, doloremque neque quos iste quod, nemo rem. Quis molestias voluptate ipsum
                aperiam adipisci!</div>
        </div>
        <div class="price">R$ 99,99</div>
    </div>
</body>


</html>