<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>

<header class="menu-topo">
    <nav>
        <ul>
            <li class="primeiro-item"><a href="../home/home.html">Página Inicial</a></li>
            <li><a href="../verificarPedidos/verificarPedidos.html">Verificar pedidos</a></li>
            <li><a href="../pedidos/pedidos.html">Novos pedidos</a></li>
            <li><a href="../receitas/receitas.html">Receitas</a></li>
            <li><a href="../addReceita/adicionarReceita.html">Adicionar receita</a></li>
        </ul>
    </nav>
</header>

<body>
    <main>
        <div class="retangulo-container">

        </div>
        <div class="pedido">
            <div class="retangulo-branco">
                <div>
                    <span class="horas-restantes">12 horas restantes</span>
                </div>
                <div class="numero-pedido">
                    <span>Pedido #1</span>
                </div>
                <div class="informacoes-pedido">
                    <div>
                        <span>John Doe</span>
                    </div>
                    <div>
                        <span><strong>Quantidade de Pessoas: 5</strong></span>
                    </div>
                    <div>
                        <span><strong>Data e Hora:</strong></span>
                        <span>2023-06-05 18:30</span>
                    </div>
                </div>
            </div>

            <div class="retangulo-branco">
                <div>
                    <span class="pedido-aceitado">Aceito</span>
                </div>
                <div class="numero-pedido">
                    <span>Pedido #2</span>
                </div>
                <div class="informacoes-pedido">
                    <div>
                        <span>John Doe</span>
                    </div>
                    <div>
                        <span><strong>Quantidade de Pessoas: 5</strong></span>
                    </div>
                    <div>
                        <span><strong>Data e Hora:</strong></span>
                        <span>2023-06-05 18:30</span>
                    </div>
                </div>
            </div>

            <div class="retangulo-branco">
                <div>
                    <span class="pedido-recusado">Recusado</span>
                </div>
                <div class="numero-pedido">
                    <span>Pedido #3</span>
                </div>
                <div class="informacoes-pedido">
                    <div>
                        <span>John Doe</span>
                    </div>
                    <div>
                        <span><strong>Quantidade de Pessoas: 5</strong></span>
                    </div>
                    <div>
                        <span><strong>Data e Hora:</strong></span>
                        <span>2023-06-05 18:30</span>
                    </div>
                </div>
            </div>

            <div class="retangulo-branco">
                <div>
                    <span class="horas-restantes">12 horas restantes</span>
                </div>
                <div class="numero-pedido">
                    <span>Pedido #4</span>
                </div>
                <div class="informacoes-pedido">
                    <div>
                        <span>John Doe</span>
                    </div>
                    <div>
                        <span><strong>Quantidade de Pessoas: 5</strong></span>
                    </div>
                    <div>
                        <span><strong>Data e Hora:</strong></span>
                        <span>2023-06-05 18:30</span>
                    </div>
                </div>
            </div>
            <script> function deletarpedido1() {

                    const pedido1 = document.getElementById("pedido1");
                    pedido1.remove();

                } </script>
        </div>

</body>

</html>
